$primary-color: #007bff; // Blue
$secondary-color: #ffd700; // Gold
$highlight-color: #00ffc6; // Cyan/Teal
$highlight-color--dark: hsl(167, 100%, 30%);
$neutral-dark: #333333; // Dark Grey
$neutral-light: #f8f9fa; // Light Grey
$white: #fff; // White
$dark-color: #1c2a48;
$background-light: #f9f9f9;